@media (min-width: 1085px) {
  .marginForScreen {
  margin-top:25px;
  margin-left:100px; 
  margin-right:100px;
}
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
 }
    


.intro-headings-color {
  color: white;
}

footer {
      background-color: #f2f2f2;
      padding: 25px;
}

.headings {
    	font-family: 'Pacifico', cursive;
    }

body {
    font-family: 'Cormorant Garamond', serif;
}

.contents {
    font-family: 'Cormorant Garamond', serif;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .progress-label-text {
 	font-family: 'Quicksand', sans-serif;
 }

.dot {
  height: 25px;
  width: 25px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  left: 49.1%;
  top: 38%;
}

.vl {
    border-left: 6px solid black;
    height: 1600px;
    position: absolute;
    left: 49.8%;
    top: 33%;
}

@media only screen and (max-width: 1026px) {
    #fadeshow {
        display: none;
    }
}
