@media (min-width: 1085px) {
  .marginForScreen {
  margin-top:25px;
  margin-left:100px;
  margin-right:100px;
}
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
 }



.intro-headings-color {
  color: white;
}

footer {
      background-color: #f2f2f2;
      padding: 25px;
}

.headings {
    	font-family: 'Pacifico', cursive;
    }

body {
    font-family: 'Cormorant Garamond', serif;
}

.contents {
    font-family: 'Cormorant Garamond', serif;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .progress-label-text {
 	font-family: 'Quicksand', sans-serif;
 }

.dot {
  height: 25px;
  width: 25px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  left: 49.1%;
  top: 37.5%;
}

.vl {
    border-left: 6px solid black;
    height: 2000px;
    position: absolute;
    left: 49.8%;
    top: 33%;
}

@media only screen and (max-width: 1026px) {
    #fadeshow {
        display: none;
    }
}

.portfoliov2button {
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Pacifico'
  line-height: 75px;
  height: 75px;
  padding-top: 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #222222; -webkit-box-shadow: 0 0 3px #222222; }
  50% { background-color: #000; -webkit-box-shadow: 0 0 40px #000; }
  100% { background-color: #222222; -webkit-box-shadow: 0 0 3px #222222; }
}
@-moz-keyframes glowing {
  0% { background-color: #222222; -moz-box-shadow: 0 0 3px #222222; }
  50% { background-color: #000; -moz-box-shadow: 0 0 40px #000; }
  100% { background-color: #222222; -moz-box-shadow: 0 0 3px #222222; }
}
@-o-keyframes glowing {
  0% { background-color: #222222; box-shadow: 0 0 3px #222222; }
  50% { background-color: #000; box-shadow: 0 0 40px #000; }
  100% { background-color: #222222; box-shadow: 0 0 3px #222222; }
}
@keyframes glowing {
  0% { background-color: #222222; box-shadow: 0 0 3px #222222; }
  50% { background-color: #000; box-shadow: 0 0 40px #000; }
  100% { background-color: #222222; box-shadow: 0 0 3px #222222; }
}
